// app global css

@import '~variables'

/*body { color: #fff; }*/

.caption {
	color: $title;
	letter-spacing: 0;
	line-height: 24px;
	padding: 0;
	font-weight: 300;
}

.q-option-label {
	color: $grey-4;
}

.orange {
	color: $orange;
}

.blanc {
	color: #fff;
}

.light-green {
	color: $light-green;
}

.pink {
	color: $pink;
}

.reduce {
	font-size: 0.8em;
}

.q-input-target  {
	color: $title;
}

.sizefolder  {
	color: $orange;
	font-size: 0.8em;
}

.sizefolderb  {
	color: #fff;
	font-size: 0.8em;
}